@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;900&display=swap');

.root {
    -fx-background-color: #cc99ff;
}

.button {
    -fx-font-family: 'Unbounded';
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #133C55;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, #242321, 20, 0, 0, 5);
}

#gymText {
    -fx-text-fill: #F2F3D9;
    -fx-font-family: 'Unbounded', cursive;
    -fx-font-size: 40;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, black, 25, 0, 0, 0);
}
#fileNameScene2 {
    -fx-font-family: 'Unbounded', cursive;
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, black, 25, 0, 0, 0);
}